* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-background {
    background: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%)), url(images/bg-pattern-intro-mobile.svg);
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 0px 80px;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}
.img-background {
    background-image: url(images/bg-pattern-intro-mobile.svg);
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300vw;
}
.hero-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: white;
}
.hero-section p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: rgb(216, 216, 216);
    margin: 20px 0px 40px 0px;
}
.buttons-container {
    display: flex;
    gap: 20px;
}
.white {
    text-decoration: none;
    color: hsl(356, 100%, 66%);
    background-color: white;
    padding: 12px 15px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    border: 1px solid white;
}
.line {
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 20px;
}
.designed {
    padding: 60px 20px;
}
.designed h2 {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: hsl(208, 49%, 24%);
}
.designed img {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 30px;
}
p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: hsl(207, 13%, 34%);
    margin: 20px 0px 40px 0px;
    font-size: 15px;
    line-height: 30px;
}
.state-of-art {
    margin: 80px 0px;
    padding: 230px 20px 50px;
    background-color: hsl(237, 17%, 21%);
    position: relative;
    border-radius: 0px 80px 0px 80px;
    background-image: url(images/bg-pattern-circles.svg);
    background-position: bottom center;
}
.state-of-art h2 {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
}
.state-of-art p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin: 20px 0px 40px 0px;
    font-size: 15px;
    line-height: 30px;
}
.state-of-art img {
    width: 100%;
    position: absolute;
    top: -150px;
    translate: -50%;
    left: 50%;
    max-width: 350px;
}
.laptop {
    padding: 20px;
}
.laptop img {
    width: 100%;
    margin-bottom: 40px;
}
.laptop h2 {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: hsl(208, 49%, 24%);
}
.laptop p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: hsl(207, 13%, 34%);
    margin: 20px 0px 40px 0px;
    font-size: 15px;
    line-height: 30px;
}
footer {
    background-color: hsl(240, 10%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    border-radius: 0px 80px 0px 0px;
}
.footer-navs {
    margin-top: 40px;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul li {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: hsl(0, 6%, 72%);
    margin-bottom: 5px;
    font-size: 16px;
}
footer h3 {
    color: white;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.product h3, .Company h3, .Connect h3 {
    text-align: center;
    margin-bottom: 20px;
}
.product, .company, .Connect {
    margin: 20px 0px;
}
.desktop {
    display: none;
}
@media (min-width: 1280px) {
    .hero-section h1 {
        font-size: 60px;
    }
    .hero-section p {
        font-size: 20px;
    }
    .white, .line {
        font-size: 15px;
    }
    .designed {
        padding: 50px 0px;
        margin-bottom: 150px;
    }
    .designed h2 {
        font-size: 35px;
    }
    .designed-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 50px 0px;
        padding: 0px 140px;
        position: relative;
        overflow: hidden;
    }
    .designed-grid img {
        order: 2;
    }
    .designed-grid .partOne h2, .designed-grid .partOne p {
        text-align: left;
    }
    .designed-grid .partOne h2 {
        font-size: 25px;
    }
    .designed-grid .partOne p {
        font-size: 15px;
    }
    .designed .illustrationMobilePC {
        position: absolute;
        right: -100px;
        width: 600px;
    }
    .state-of-art {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 30px 20px;
        min-height: 400px;
    }
    .state-of-art img {
        height: 600px;
        object-fit: cover;
        max-width: fit-content;
        top: -300px;
    }
    .state-of-art h2 {
        font-size: 35px;
        text-align: left;
    }
    .state-of-art p {
        margin-top: 20px;
        text-align: left;
    }
    .container {
        position: relative;
    }
    .laptop {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .laptop h2{
        text-align: left;
        font-size: 25px;
    }
    .laptop p {
        text-align: left;
        font-size: 15px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 50px;
        align-items: start;
    }
    .footer-navs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        margin-top: 0px;
    }
    .product, .company, .Connect {
        margin: 0px;
    }
    footer ul {
        align-items: start;
    }
    .product h3, .Company h3, .Connect h3 {
        text-align: left;
    }
    .white {
        transition: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .white:hover {
        background: none;
        color: white;
        border: 1px solid white;
    }
    .line {
        transition: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .line:hover {
        background-color: white;
        color: #ff525d;
    }
    .mobileMenu {
        display: none;
    }
    .desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 40px;
    }
    .desktopMenu {
        display: flex;
        gap: 30px;
        font-family: 'Ubuntu', sans-serif;
        color: hsl(0, 0%, 100%);
    }
    .login {
        color: white;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    .buttons {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .buttons .white {
        padding: 12px 30px;
    }
    .productDesktop:hover, .companyDesktop:hover, .connectDesktop:hover {
        cursor: pointer;
    }
}